DATABASE_URL="postgresql://postgres:UjwalKarki%23@db.ziubaxbdqdoaemwtfuyt.supabase.co:5432/postgres"
PORT=8000
JWT_SECRET="hjkfhjkehwjkfrhklewhl"
JWT_EXPIRY="7d"
FRONTEND_URL="http://localhost:3000"
PHOTOGRAPHER_EMAILS="photographer@example.com"
